<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
        <link rel="stylesheet" href="../styles/kendo.common.min.css" />
    <link rel="stylesheet" href="../styles/kendo.default.min.css" />
</head>
<body>
    <label for="labelTest" ></label>
    <input  type="text" name="name" value="" class="labelTest"/>

    <label for="fullname" class="requireddd">Your Name</label>
     <input type="text" id="fullname" name="fullname" class="k-textbox" placeholder="Full name" required validationMessage="Enter {0}" style="width: 220px;" />
</body>
</html>